.loader-wrapper{
    width: 100%;
    height: 100vh;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.loader-widget-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.loader-widget-container img{
    width: 100%;
}


